@using AVBS.View.Concrete.Table
@{
    var cashbook = (AVBS_MonthlyOutgoingView) ViewBag.CashBookMonthly ?? new AVBS_MonthlyOutgoingView { };
    var outgoing = (AVBS_MonthlyOutgoingView) ViewBag.MonthlyOutgoing ?? new AVBS_MonthlyOutgoingView( );

    var totalOutgoing = cashbook.MonthlyOutgoing + outgoing.MonthlyOutgoing;
}

<div class="row widget-row">
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-success">
            <h3 class="box-title"> Ay </h3>
            <ul class="list-inline two-part">
                <li><i class="ti-control-play text-success"></i></li>
                <li class="text-right"> <span> @cashbook.Date </span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-danger">
            <h3 class="box-title">Aylık Toplam Gider (Kasa)</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-people text-danger"></i></li>
                <li class="text-right"> ₺ <span class="counter">@cashbook.MonthlyOutgoing</span></li>
            </ul>

        </div>
    </div> 
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-purple">
            <h3 class="box-title">Aylık Toplam Gider (Hesaplar)</h3>
            <ul class="list-inline two-part">
                <li><i class="ti-control-play text-purple"></i></li>
                <li class="text-right">₺ <span>@outgoing.MonthlyOutgoing</span> </li>
            </ul>
        </div>
    </div>

    <div class="col-lg col-sm-12">
        <div class="white-box b-l-info">
            <h3 class="box-title">Aylık Toplam Gider</h3>
            <ul class="list-inline two-part">
                <li><i class="ti-control-play text-info"></i></li>
                <li class="text-right"> ₺ <span class="counter">@totalOutgoing</span></li>
            </ul>
        </div>
    </div>
     
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-warning">
            <h3 class="box-title">Aylık Ciro</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-feed text-warning"></i></li>
                <li class="text-right"> ₺ <span class="counter">@ViewBag.TotalTurnover</span></li>
            </ul>
        </div>
    </div>
    @*
        <div class="row">
            <div class="col-md-12">

                <div class="white-box">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    *@

</div>