<div class="row widget-row">
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-success">
            <h3 class="box-title">Locations</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-location-pin text-success"></i></li>
                <li class="text-right"><span class="counter">@ViewBag.LocationCount</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-purple">
            <h3 class="box-title">Departments</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-layers text-purple"></i></li>
                <li class="text-right"><span>@ViewBag.DepartmentCount</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-danger">
            <h3 class="box-title">Personnels</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-people text-danger"></i></li>
                <li class="text-right"><span class="counter">@ViewBag.PersonnelCount</span></li>
            </ul>

        </div>
    </div>
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-info">
            <h3 class="box-title">Gateways</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-feed text-info"></i></li>
                <li class="text-right"><span class="counter">@ViewBag.GatewayCount</span></li>
            </ul>

        </div>
    </div>
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-warning">
            <h3 class="box-title">Beacons</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-tag text-warning"></i></li>
                <li class="text-right"><span>@ViewBag.BeaconCount</span></li>
            </ul>
        </div>
    </div>
    @*
        <div class="row">
            <div class="col-md-12">

                <div class="white-box">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    *@

</div>